@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* import pretendard.css */
@import "./pretendard.css";

@import "./github-markdown-light.css";

header {
    font-family: 'Pretendard', sans-serif;
    font: 'Pretendard', sans-serif;
}

body {
    font-family: 'Pretendard', sans-serif;
}